.auth {
  display: block;
  margin: 100px auto;
  text-align: center;
}

.auth .form {
  display: inline-block;
  padding: 30px;
  border-radius: 2px;
}

.auth h1 {
  font-size: 30px;
  font-weight: bold;
}

.auth button {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 2px;
}

.auth .info {
  font-weight: bold;
  font-size: 15px;
}

.auth .switch {
  display: inline-block;
  padding: 0 10px;
  font-weight: bold;
  font-size: 15px;
}

.auth .invite p {
  font-size: 20px;
  font-weight: bold;
}
/* form starting stylings ------------------------------- */
.auth .input {
  position: relative;
  margin-bottom: 45px;
}

.auth .input label {
  font-size: 18px;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
}

.auth .input input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
}

.auth .checkbox {
  text-align: left;
  font-size: 18px;
  margin: -10px 0 10px 0;
  display: block;
  width: 300px;
}

/* BOTTOM BARS ================================= */
.auth .bar {
  padding: 0 10px 0 5px;
  position: relative;
  display: block;
  width: 300px;
}

.auth .bar:before, .auth .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  transition: 0.2s ease all;
}

.auth .bar:before {
  left: 50%;
}

.auth .bar:after {
  right: 50%;
}

/* active state -------------------------------------------- */
.auth input:focus ~ label, .auth input.used ~ label {
  top: -20px;
  font-size: 14px;
}

.auth input:focus ~ .bar:before {
  width: 50%;
}

.auth input:focus ~ .bar:after {
  width: 50%;
}

.auth .footer p{
  margin: 2px;
}

.auth .footer .logs{
  font-size: 10px;
}
