.parameter{
	display: none;
}
.config-pop{
  text-align: left;
  margin: 15px 0 0 15px;
}

.config-pop * {
  display: block;
  margin: 10px;
}

.config-pop .theme{
  width: 35%;
}
.config-pop input, .config-pop select {
  font-size: 15px;
  border-radius: 3px;
}
