@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);

i.fa::before {
  margin: 2px;
}
i.fa {
  padding: 4px;

  border-radius: 100%;
  cursor: pointer;
}

i.fa:hover{
  background-color: rgba(255, 255, 255, 0.2);
}

i.fa:active, i.fa:focus{
  background-color: rgba(255, 128, 0, 0.7);
}
