.loading > div {
  position: fixed;
  left: 50%;
  top: 50%;

  transform: translateX(-50%) translateY(-50%);
}

.loading .loading-app {
  z-index: 500;
  width: 100%;
  height: 100%;
}

.loading .loading-actions {
  z-index: 499;
}

.loading .loading-app .logo {
  background-image: url(../image/logo.svg);
  width: 100%;
  height: 100%;
  background-size: 20%;
  background-repeat: no-repeat;
  background-position: center;
}

.loading-actions {
  margin: 0px auto;
  &::before {
    content: '';
    display: block;
    padding-top: 100%;
  }
}

.circular {
  animation: rotate 2s linear infinite;
  height: 100px;
  transform-origin: center center;
  stroke-width: 2;
}

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
