.mediainfo-pop img, .mediainfo-pop .infos {
  display: inline-block;
  margin: 10px;
  width: 45%;
  vertical-align: top;
}

.mediainfo-pop .infos * {
  vertical-align: top;
  margin: 5px;
}

.mediainfo-pop .infos .rating {
  font-size: 200%;
  font-weight: bold;
}
