.search-result {
  display: table-cell;
  text-align: left !important;
  width: 100%;
}
.search-result .search-header {
  padding: 10px;
  font-size: 20px;
}
.search-result table {
  border-collapse: collapse;
  display: inline-block;

  width: 50%;
  vertical-align: top;
}
@media only screen and (max-width: 750px) {
  .search-result table {
    display: block;
    width: 100%;
  }
}
.search-result img {
  width: 100px;
  padding: 0 20px;
}
@media only screen and (max-width: 750px) {
  .search-result .img {
    display: none;
  }
}
