.search-result {
  display: table-cell;
  text-align: left !important;
  width: 100%;
}
.search-result .search-header {
  padding: 10px;
  font-size: 20px;
}
.search-result table {
  border-collapse: collapse;
}
.search-result img {
  width: 100px;
  padding: 0 20px;
}
