.searchtorrent-pop {
  display: table-cell;
  text-align: left;
  width: 100%;
}
.searchtorrent-pop .search-header {
  padding: 10px;
  font-size: 20px;
}
.searchtorrent-pop table {
  border-collapse: collapse;
  display: inline-block;

  width: 49%;
  vertical-align: top;
}
@media only screen and (max-width: 750px) {
  .searchtorrent-pop table {
    display: block;
    width: 100%;
  }
}
.searchtorrent-pop img {
  width: 100px;
  margin: 0 20px;
}
.searchtorrent-pop img:hover {
  width: 200px;
  margin: 0 20px;
}
@media only screen and (max-width: 750px) {
  .searchtorrent-pop .img {
    display: none;
  }
}
