@import url(top-menu.css);
@import url(left-menu.css);
@import url(list.css);
@import url(config.css);
@import url(themes/default/theme.css);
@import url(themes/icon.css);
@import url(../bower_components/notify.me/dist/css/notify-me.min.css);
@import url(../js/popup/popup.min.css);

* {
  outline: none;
}
html {
  height: 100%;
}
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
}
.hide {
  visibility: hidden;
  opacity: 0;
  display: none !important;
}

.loading{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  z-index: 1000;
}

.loading .logo{
  background-image: url(../image/logo.svg);

  width: 100%;
  height: 100%;
  background-size: 20%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.notifyme-stack{
  z-index: 100;
}

@media only screen and (max-width: 470px) {
  .loading .logo{
    background-size: 50%;
  }
}
