@import url(../bower_components/notify.me/dist/css/notify-me.min.css);
@import url(../bower_components/popupjs/dist/popup.min.css);
@import url(../bower_components/material-design-lite/material.min.css);
@import url(loading.css);
@import url(top-menu.css);
@import url(left-menu.css);
@import url(list.css);
@import url(config.css);
@import url(themes/default/theme.css);
@import url(themes/icon.css);

* {
  outline: none;
}
html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
.hide {
  visibility: hidden;
  opacity: 0;
  display: none !important;
}

.notifyme-stack{
  z-index: 100;
}

@media only screen and (max-width: 470px) {
  .loading .logo{
    background-size: 50%;
  }
}
