@import url(icon.css);
*::selection {
  background: #f7a253;
  /* WebKit/Blink Browsers */
}
.button {
  cursor: pointer !important;
}
.button:hover {
  color: #675f5f !important;
  transition: color 0.1s ease-out;
}
.button:active, .button:focus {
  color: #f7a253 !important;
}
a {
  text-decoration: none;
  color: inherit;
}

/************/


/* Top Menu */


/************/

.top-menu {
  color: #FFF;
  background-color: #111;
  font-size: 25px;
}
.top-menu .logo {
  background-image: url(../image/logo.png);
}
.top-menu i.fa {
  border-radius: 100%;
}

/*************/


/* Left Menu */


/*************/

.left-menu {
  color: #FFF;
  background-color: #151515;
  font-size: 25px;
  transition: left 0.3s ease-out;
}
.left-menu .menu i#open {
  background-color: #151515;
}
.left-menu .nav-bar li.active {
  background-color: #f7a253;
  color: #151515;
  font-weight: bold;
}
.left-menu .action .button {
  border-radius: 10px;
  background-color: #f75353;
}
.left-menu .torrent-input input {
  color: grey;
  background-color: #FFF;
  border: 1px solid #D8E1E4;
  font-size: 15px;
  border-radius: 3px;
}
.left-menu .torrent-input input[type=text] {
  transition: width 0.5s ease-out;
}

/*********/


/* Liste */


/*********/

.list {
  background-color: #1C1C1C;
  color: #FFF;
}
.list th {
  background: #2E2E2E;
}
.list tr.selected, .list tr.selected a {
  background-color: #f7a253;
  color: #1C1C1C;
}
.list tr {
  border-top: 1px solid #2E2E2E;
  border-bottom: 1px solid #2E2E2E;
}
.scrollTop {
  border-radius: 5px;
  background-color: #151515;
  color: #FFF;
}

/******************/


/* Search Torrent */


/******************/

.search-result tr.search-item:hover {
  background-color: #f7a253;
}
.search-result .search-item {
  border-top: 1px solid #2E2E2E;
  border-bottom: 1px solid #2E2E2E;
}
.search-result .search-item .seed {
  color: #27AE60;
}
.search-result .search-item .peer {
  color: #f75353;
}
