notifications:
  email: false
language: node_js
node_js:
- '6'
- '5'
env:
- PORT="5000" DIRNAME="ok" DIRNAME2="ok2" FILENAME="thefile" MAGNET="magnet:?xt=urn:btih:6a9759bffd5c0af65319979fb7832189f4f3c35d&dn=sintel.mp4&tr=wss%3A%2F%2Ftracker.btorrent.xyz&tr=wss%3A%2F%2Ftracker.fastcast.nz&tr=wss%3A%2F%2Ftracker.openwebtorrent.com&tr=wss%3A%2F%2Ftracker.webtorrent.io&ws=https%3A%2F%2Fwebtorrent.io%2Ftorrents%2Fsintel-1024-surround.mp4"
  HASH="6a9759bffd5c0af65319979fb7832189f4f3c35d"
before_install:
- sudo apt-get update -qq
- sudo apt-get install curl wget
script:
- wget -qr http://localhost:$PORT
- npm test
- npm start &
- sleep 10
- curl -s http://localhost:$PORT >/dev/null
- curl -u admin:admin --data "dir=/" http://localhost:$PORT/list-d
- curl -s http://localhost:$PORT >/dev/null
- curl -u admin:admin --data "" http://localhost:$PORT/list-t
- curl -s http://localhost:$PORT >/dev/null
- curl -u admin:admin --data "name=$DIRNAME&path=/" http://localhost:$PORT/mkdir-d
- curl -s http://localhost:$PORT >/dev/null
- curl -u admin:admin --data "path=/&oldname=$DIRNAME&newname=$DIRNAME2" http://localhost:$PORT/rename-d
- curl -s http://localhost:$PORT >/dev/null
- curl -u admin:admin --data "name=$DIRNAME&path=/" http://localhost:$PORT/mkdir-d
- curl -s http://localhost:$PORT >/dev/null
- curl -u admin:admin --data "path=/&file=$DIRNAME2&folder=$DIRNAME" http://localhost:$PORT/mv-d
- curl -s http://localhost:$PORT >/dev/null
- echo date > files/$FILENAME
- curl -u admin:admin http://localhost:$PORT/files?f=$FILENAME
- curl -s http://localhost:$PORT >/dev/null
- curl -u admin:admin --data "url=$MAGNET" http://localhost:$PORT/download-t
- curl -s http://localhost:$PORT >/dev/null
- sleep 15
- curl -u admin:admin --data "" http://localhost:$PORT/list-t
- curl -s http://localhost:$PORT >/dev/null
- curl -u admin:admin --data "hash=$HASH" http://localhost:$PORT/remove-t
- curl -s http://localhost:$PORT >/dev/null
- curl -u admin:admin http://localhost:$PORT/lock-d?f=$FILENAME
- curl -s http://localhost:$PORT >/dev/null
cache:
  directories:
  - "$(pwd)/node_modules"
deploy:
  provider: npm
  email: guillaume.lunik@gmail.com
  on:
    tags: true
  api_key:
    secure: TDsu3+bhCoCpCLovZHSco71BlGWL4jHdKu/GlMsqKcy8ZADK+7XO+qVJPst5MR/OG0QgjKa9meClBqaHaSJaGjDTyf+2xn/NqnBF7tZTW7XW39G6TMlkchQFsb2tso+cIZHG5I72SwY67vnwwcdbozgJB4moHEPTLC64VvA+wndCuN7+YsMmbrSwZeTjxgj4PCyRSTghcfOqCU8gDQiI+Hr+75H44GlWQyTM9565s+9B74i3IZMGrdR002MMHC8+VDg1LEAZABwTX86yp/WYNHfu3/nOz+JB9J3zE7lbiSeedLuzX4iw5FlOGWnEIJcuozcF7NOKmP9EtV70KL+vG9SrxivYgXpdH/Cv3NJlmIvKNbqAoqPAviaRikuKyQ9pJGQa02h/i7hWvXssxO4KiP3c2v4r3qba1ZDDb6gE16WViHXQmPmq9aWmjHBK6YJXEfDg8c0FQ40BBQ5q8mXhk2Sk4hDBWoaUtJ/ZTQV8gI/UK6A+YA3gWEoCZigszlKKfBg12EqgyDsjN5xQmXDnTAX9a9wWJk+3rQNZ1a8IpKc/Tsy/osQ9zfdNwngMuIdasBSm2TwTBVc32EpdcXqDfH8fgiqiNOxnWGIYZP3kU+kLZvgMJsDmOsi4uMA185lx6jiHmfJUDnigsAQeI6A+tuNHCrC+NEabid1ErJfPU4M=
