/****** DEFAULT THEME *****/

body {
  background: #1C1C1C;
}
*::selection {
  background: #f7a253;
}
.button {
  cursor: pointer;
}
.button:hover {
  color: #675f5f;
  transition: color 0.1s ease-out;
}
.button:active, .button:focus {
  color: #f7a253;
}
a {
  text-decoration: none;
  color: inherit;
}
.loading {
  background-color: #1C1C1C;
}

/************/


/* Top Menu */


/************/

.top-menu {
  color: #FFF;
  background-color: #111;
  font-size: 25px;
}
.top-menu i.fa {
  border-radius: 100%;
}
.top-menu .unactive {
  color: #675f5f;
}
.top-menu .ariane .active{
  color: #f7a253;
}
/*************/


/*   Config  */


/*************/

.config-pop input, .config-pop select {
  color: #675f5f;
  background-color: #FFF;
  border: 1px solid #D8E1E4;
  font-size: 15px;
  border-radius: 3px;
}

/*************/


/* Left Menu */


/*************/

.left-menu {
  color: #FFF;
  background-color: #151515;
  font-size: 25px;
  transition: left 0.3s ease-out;
}
.left-menu .menu i#open {
  background-color: #151515;
}
.left-menu .nav-bar li.active {
  background-color: #f7a253;
  color: #151515;
  font-weight: bold;
}
.left-menu .action .button {
  border-radius: 10px;
  background-color: #f75353;
}
.left-menu .torrent-input input {
  color: #675f5f;
  background-color: #FFF;
  border: 1px solid #D8E1E4;
  font-size: 15px;
  border-radius: 3px;
}
.left-menu .torrent-input input[type=text] {
  transition: width 0.5s ease-out;
}
.left-menu .footer {
  color: #675f5f;
  font-size: 15px;
}
.left-menu .footer a:hover {
  color: #f7a253;
}

/*********/


/* Liste */


/*********/

.list {
  background-color: #1C1C1C;
  color: #FFF;
}
.list th {
  background: #2E2E2E;
}
.list tr.selected, .list tr.selected a {
  background-color: #f7a253;
  color: #1C1C1C;
}
.list tr {
  border-top: 1px solid #2E2E2E;
  border-bottom: 1px solid #2E2E2E;
}
.scrollTop {
  border-radius: 5px;
  background-color: #151515;
  color: #FFF;
}
.list .file td#name .locked {
  color: #f75353;
}

/******************/


/* Search Torrent */


/******************/

.searchtorrent-pop tr.search-item:hover {
  background-color: #f7a253;
}
.searchtorrent-pop .search-item {
  border-top: 1px solid #2E2E2E;
  border-bottom: 1px solid #2E2E2E;
}
.searchtorrent-pop .search-item .seed {
  color: #27AE60;
}
.searchtorrent-pop .search-item .peer {
  color: #f75353;
}
