/****** MONOKAI THEME *****/

body {
  background: #272822;
}
*::selection {
  background: #FD971F;
}
.button:hover {
  color: #675f5f !important;
}
.button:active, .button:focus {
  color: #FD971F !important;
}
.loading {
  background-color: #272822;
}

/************/


/* Top Menu */


/************/

.top-menu {
  background-color: #1A1B17;
}
.top-menu .unactive {
  color: #675f5f;
}

/*************/


/*   Config  */


/*************/

.config-pop input, .config-pop select {
  color: #675f5f;
  border: 1px solid #D8E1E4;
}

/*************/


/* Left Menu */


/*************/

.left-menu {
  background-color: #20211C;
}
.left-menu .menu i#open {
  background-color: #20211C;
}
.left-menu .nav-bar li.active {
  background-color: #FD971F;
  color: #272822;
}
.left-menu .action .button {
  border-radius: 10px;
  background-color: #F92672;
}
.left-menu .torrent-input input {
  color: #675f5f;
  border: 1px solid #D8E1E4;
}
.left-menu .footer {
  color: #675f5f;
}
.left-menu .footer a:hover {
  color: #FD971F;
}

/*********/


/* Liste */


/*********/

.list {
  background-color: #272822;
}
.list th {
  background: #2E2E2E;
}
.list tr.selected, .list tr.selected a {
  background-color: #FD971F;
  color: #272822;
}
.list tr {
  border-top: 1px solid #2E2E2E;
  border-bottom: 1px solid #2E2E2E;
}
.scrollTop {
  background-color: #272822;
}
.list .file td#name .locked {
  color: #F92672;
}

/******************/


/* Search Torrent */


/******************/

.search-result tr.search-item:hover {
  background-color: #FD971F;
}
.search-result .search-item {
  border-top: 1px solid #2E2E2E;
  border-bottom: 1px solid #2E2E2E;
}
.search-result .search-item .seed {
  color: #A6E22E;
}
.search-result .search-item .peer {
  color: #F92672;
}
