/****** MONOKAI THEME *****/

body {
  background: #272822;
}
*::selection {
  background: #FD971F;
}
.button {
  cursor: pointer;
}
.button:hover {
  color: #675f5f;
}
.button:active, .button:focus {
  color: #FD971F;
}
a {
  text-decoration: none;
  color: inherit;
}
.loading .loading-app {
  background-color: #272822;
}
.loading .loading-actions .load i {
  color: #FD971F;
}
/************/


/* Top Menu */


/************/

.top-menu {
  background-color: #1A1B17;
}
.top-menu .unactive {
  color: #675f5f;
}
.top-menu .ariane .active{
  color: #FD971F;
}
/*************/


/*   Config  */


/*************/

.config-pop input, .config-pop select {
  color: #675f5f;
  background-color: #FFF;
  border: 1px solid #D8E1E4;
}

/*************/


/* Left Menu */


/*************/

.left-menu {
  color: #FFF;
  background-color: #20211C;
  transition: left 0.3s ease-out;
}
.left-menu .menu i.open {
  background-color: #20211C;
}
.left-menu .nav-bar li.active {
  background-color: #FD971F;
  color: #272822;
}
.left-menu .action .button {
  background-color: #F92672;
}
.left-menu .torrent-input input {
  color: #675f5f;
  background-color: #FFF;
  border: 1px solid #D8E1E4;
}
.left-menu .torrent-input input[type=text] {
  transition: width 0.2s ease-out;
}
.left-menu .footer {
  color: #675f5f;
}
.left-menu .footer a:hover {
  color: #FD971F;
}

/*********/


/* Liste */


/*********/

.list {
  background-color: #272822;
}
.list th {
  background: #2E2E2E;
}
.list tr.selected, .list tr.selected a {
  background-color: #FD971F;
  color: #272822;
}
.list tr {
  border-top: 1px solid #2E2E2E;
  border-bottom: 1px solid #2E2E2E;
}
.scrollTop {
  background-color: #272822;
  color: #FFF;
}
.list .file td#name .locked {
  color: #F92672;
}

/******************/


/* Search Torrent */


/******************/

.searchtorrent-pop tr.search-item:hover {
  background-color: #FD971F;
}
.searchtorrent-pop .search-item {
  border-top: 1px solid #2E2E2E;
  border-bottom: 1px solid #2E2E2E;
}
.searchtorrent-pop .search-item .seed {
  color: #A6E22E;
}
.searchtorrent-pop .search-item .peer {
  color: #F92672;
}
