/****** EMO THEME *****/
@import url(../icon.css);

body{
    background: #556270;
}

*::selection {
  background: #FF6B6B;
}
.button {
  cursor: pointer !important;
}
.button:hover {
  color: #675f5f !important;
}
.button:active, .button:focus {
  color: #FF6B6B !important;
}
.loading{
  background-color: #556270;
}
/************/


/* Top Menu */


/************/

.top-menu {
  background-color: #444E59;
  font-size: 25px;
}

.top-menu .unactive{
  color: #675f5f;
}

/*************/


/*   Config  */


/*************/

.config-pop input, .config-pop select{
  color: #675f5f;
  border: 1px solid #D8E1E4;
}

/*************/


/* Left Menu */


/*************/

.left-menu {
  background-color: #4C5864;
}
.left-menu .menu i#open {
  background-color: #4C5864;
}
.left-menu .nav-bar li.active {
  background-color: #FF6B6B;
  color: #4C5864;
}
.left-menu .action .button {
  background-color: #C44D58;
}
.left-menu .torrent-input input {
  color: #675f5f;
  border: 1px solid #D8E1E4;
}

.left-menu .footer{
  color: #675f5f;
}

.left-menu .footer a:hover{
  color: #FF6B6B;
}
/*********/


/* Liste */


/*********/

.list {
  background-color: #556270;
}
.list th {
  background: #5C6A79;
}
.list tr.selected, .list tr.selected a {
  background-color: #FF6B6B;
  color: #556270;
}
.list tr {
  border-top: 1px solid #5C6A79;
  border-bottom: 1px solid #5C6A79;
}
.scrollTop {
  background-color: #4C5864;
}

.list .file td#name .locked{
  color: #FF6B6B;
}

/******************/


/* Search Torrent */


/******************/

.search-result tr.search-item:hover {
  background-color: #FF6B6B;
}
.search-result .search-item {
  border-top: 1px solid #5C6A79;
  border-bottom: 1px solid #5C6A79;
}
.search-result .search-item .seed {
  color: #C7F464;
}
.search-result .search-item .peer {
  color: #C44D58;
}
