<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Login - Lunik - Torrent</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <link rel="icon" href="src/image/favicon.ico">
    <link rel="stylesheet" href="src/css/style.css">
    <link class="theme" rel="stylesheet" href="src/css/themes/{{ config.theme }}/theme.css">
  </head>
  <body>
    <div class="loading">
      <div class="loading-app" v-show="app.state"><div class="logo"></div></div>
      <div class="loading-actions" v-show="action.state">
        <svg class="circular" viewBox="25 25 50 50">
          <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-miterlimit="10"/>
        </svg>
      </div>
    </div>
    <div class="form">
      <div class="login">
        <input type="text" name="user" placeholder="Username..." v-model="login.user">
        <input type="password" name="pass" placeholder="Password..." v-model="login.pass">
        <button>Login</button>
      </div>
      <div class="register">
        <input type="text" name="user" placeholder="Username..." v-model="register.user">
        <input type="password" name="pass" placeholder="Password..." v-model="register.pass">
        <input type="password" name="pass2" placeholder="Password again..." v-model="register.pass2">
        <button>Register</button>
      </div>
    </div>
    <script data-main="src/js/auth" src="src/bower_components/requirejs/require.js"></script>
  </body>
</html>
