/****** GIANT GOLD FISH THEME *****/
@import url(../icon.css);

body{
    background: #E0E4CC;
}

*::selection {
  background: #F38630;
}
.button:hover {
  color: #A7DBD8 !important;
}
.button:active, .button:focus {
  color: #F38630 !important;
}
.loading{
  background-color: #E0E4CC;
}
/************/


/* Top Menu */


/************/

.top-menu {
  color: #111;
  background-color: #CFD3BC;
}
.top-menu .unactive{
  color: #D4D8C6;
}

/*************/


/*   Config  */


/*************/

.config-pop input, .config-pop select{
  color: #D4D8C6;
  background-color: #111;
  border: 1px solid #D8E1E4;
}

/*************/


/* Left Menu */


/*************/

.left-menu {
  color: #111;
  background-color: #D6DAC2;
}
.left-menu .menu i#open {
  background-color: #D6DAC2;
}
.left-menu .nav-bar li.active {
  background-color: #F38630;
  color: #D6DAC2;
}
.left-menu .action .button {
  background-color: #FA6900;
}
.left-menu .torrent-input input {
  color: #D4D8C6;
  background-color: #FFF;
  border: 1px solid #D8E1E4;
}
.left-menu .footer{
  color: #D4D8C6;
}

.left-menu .footer a:hover{
  color: #F38630;
}
/*********/


/* Liste */


/*********/

.list {
  background-color: #E0E4CC;
  color: #111;
}
.list th {
  background: #E4E9CF;
}
.list tr.selected, .list tr.selected a {
  background-color: #F38630;
  color: #E0E4CC;
}
.list tr {
  border-top: 1px solid #E4E9CF;
  border-bottom: 1px solid #E4E9CF;
}
.scrollTop {
  background-color: #D6DAC2;
  color: #111;
}

.list .file td#name .locked{
  color: #FA6900;
}

/******************/


/* Search Torrent */


/******************/

.search-result tr.search-item:hover {
  background-color: #F38630;
}
.search-result .search-item {
  border-top: 1px solid #E4E9CF;
  border-bottom: 1px solid #E4E9CF;
}
.search-result .search-item .seed {
  color: #69D2E7;
}
.search-result .search-item .peer {
  color: #FA6900;
}
